// Customize the gallery styles here
// ---------------------------------------------------------


//  L&C COLOR VARIABLES
// ---------------------------------------------------------
@black: #000;
@white: #ffffff;

@dark-gray: #393430;
@mid-gray: #919191;
@light-gray: #ebebeb;

@orange: #cd511c;

@focus-outline-color: #4DB3F6;

@font-franklin: franklin-gothic-urw, sans-serif; // 300, 300i, 400, 400i, 500, 500i, 700, 700i
@font-goudy: goudy-old-style, serif;  // 400, 400i, 700, 800
@font-acumin: acumin-pro, sans-serif; // 300, 300i, 500, 500i, 600, 600i, 700, 700i




// Mini Gallery
// --------------------------------------------

// Mini gallery label
@mini-label-display: block;
@mini-label-background-color: @orange;
@mini-label-color: @white;
@mini-label-text-transform: none;
@mini-label-font: @font-franklin;
@mini-label-font-weight: 500;
@mini-label-font-size: 1.6rem;




// Large Gallery
// --------------------------------------------

@large-background-color: #a1a1a1;
@large-caption-color: #555;
@large-caption-font: @font-acumin;
@large-caption-font-weight: 300;
@large-caption-font-size: 1.4rem;



// Fullscreen Gallery
// --------------------------------------------

// Fullscreen overlay
@fullscreen-background-color: #f7f7f7;

// Fullscreen title
@fullscreen-title-color: @dark-gray;
@fullscreen-title-font: @font-goudy;
@fullscreen-title-font-size: 3rem;
@fullscreen-title-font-weight:800;

// Fullscreen caption
@fullscreen-caption-color: @dark-gray;
@fullscreen-caption-font: @font-acumin;
@fullscreen-caption-font-size: 1.6rem;
@fullscreen-caption-font-weight: 500;

// Arrow Button settings
@fullscreen-btn-size:                50px;
@fullscreen-btn-arrowsize:           @fullscreen-btn-size / 4;

// Arrow Button size on mobile
@fullscreen-btn-size-small:          35px;
@fullscreen-btn-arrowsize-small:     @fullscreen-btn-size-small / 4;

// Arrow Button colors
@fullscreen-btn-color:               @white;
@fullscreen-btn-bg:                  @dark-gray;
@fullscreen-btn-border:              #fff;

// Arrow Button hover colors
@fullscreen-btn-hover-color:         @white;
@fullscreen-btn-bg-hover:            @orange;
@fullscreen-btn-hover-border-color:  #fff;

// Loader icon colors
@fullscreen-loader-color-1:           @orange;
@fullscreen-loader-color-2:           lighten(@orange, 10%);
@fullscreen-loader-color-3:           lighten(@orange, 20%);
@fullscreen-loader-color-4:           lighten(@orange, 30%);

