/**********************************************
 *
 *  Mini Gallery
 *  --------------------
 *
 *  Docs: https://github.com/whitewhale/LWGalleries
 *
 *  Mini gallery displays the first image in the gallery and opens the gallery fullscreen when clicked.
 *  Mini gallery theme is only loaded when the page has a mini gallery.
 * 
 *  Click to show fullscreen gallery with all gallery images.
 *  Go to the fullscreen gallery theme to change fullscreen settings.
 *
  **********************************************
 */

@import "../all-custom-gallery-variables.less";   // Import custom gallery variables

.lw_gallery_mini {
  position: relative; // contains gallery-info
  display: inline-block;
  margin: 0 10px 55px;
  max-width: 100%; // IE11 bugfix

  &:focus {
    outline: none; // removes outline when clicking gallery
  }

  .gallery_label {
    display: @mini-label-display;
    z-index: 1; // above photos
    position: absolute; // make it absolute so we can cap the width, without JS
    left: 0;
    right: 0;
    margin: -35px 15% 0 15%; 
    padding: 8px 15px 9px;
    border-radius: 1px;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    text-align: center;
    line-height: 1.15;
    background-color: @mini-label-background-color;
    color: @mini-label-color;
    font-family: @mini-label-font;
    font-size: @mini-label-font-size;
    text-transform: @mini-label-text-transform;
    font-weight: @mini-label-font-weight;
    
    &::after {
      content: '\f064';
      display: inline;
      margin-left: 4px;
      font-size: 0.8em;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      color: white;
    }
  }

  .gallery_images.gallery_images { // increases specificity
    cursor: pointer;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      margin: 0;
    }

    li::before {
      display: none; // hide default list bullets
    }

    li:not(:first-child) { // hide all but first image
      display: none;
    }

    li:first-child {
      display: inline-block;
      position: relative; // contains pseudo element
      margin-top: 2%;
      max-width: 100%; // IE11 bugfix

      figure {
        margin: 0;
      }

      img { 
        z-index: 1; // above pseudo element
        position: relative;
        margin: 0;
        border: 8px solid #fff;
        -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 5px -1px;
        box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 5px -1px;
        transition: -webkit-filter 150ms ease;
        transition: filter 240ms ease;
        transition: filter 240ms ease, -webkit-filter 240ms ease;
      }
    }
  }

  &:hover {
    
    .gallery_images.gallery_images li:first-child img {
      filter: brightness(1.12);
    }
  }

  figcaption {
    display: none; // hide captions until gallery is opened fullscreen
  }
}